In [ ]:
pip install psycopg2

In [ ]:
pip install pandas

In [ ]:
!git clone https://github.com/PhonePe/pulse.git

In [6]:
import os
import psycopg2
import json
import pandas as pd

In [ ]:
#aggregated_insurance

path1='C:/Users/user/OneDrive/Desktop/PhonePe_Project/pulse/data/aggregated/insurance/country/india/state'
path1_list = os.listdir(path1)
#print(path1_list)
columns_ins= {"States":[], "Years":[], "Quarter":[], "Insurance_type":[], "Insurance_count":[],"Insurance_amount":[] }


for state in path1_list:
    years = os.listdir(f'{path1}/{state}')

    for year in years:
        quarter = os.listdir(f'{path1}/{state}/{year}')

        for qtr in quarter:
            agg_ins_path = f'{path1}/{state}/{year}/{qtr}'
            #print(f'{path1}/{state}/{year}/{qtr}')

            with open (agg_ins_path,'r') as f:

                data = json.load(f)
                #print(data)
                for i in data["data"]["transactionData"]:
                    name = i["name"]
                    count = i["paymentInstruments"][0]["count"]
                    amount = i["paymentInstruments"][0]["amount"]
                    columns_ins["Insurance_type"].append(name)
                    columns_ins["Insurance_count"].append(count)
                    columns_ins["Insurance_amount"].append(amount)
                    columns_ins["States"].append(state)
                    columns_ins["Years"].append(year)
                    columns_ins["Quarter"].append(int(qtr.strip(".json")))

                    #print(columns_ins)

aggregated_insurance = pd.DataFrame(columns_ins)

aggregated_insurance["States"] = aggregated_insurance["States"].str.replace("andaman-&-nicobar-islands","Andaman & Nicobar")
aggregated_insurance["States"] = aggregated_insurance["States"].str.replace("-"," ")
aggregated_insurance["States"] = aggregated_insurance["States"].str.title()
aggregated_insurance['States'] = aggregated_insurance['States'].str.replace("Dadra & Nagar Haveli & Daman & Diu", "Dadra and Nagar Haveli and Daman and Diu")

In [9]:
#aggregated_transaction

path2 ='C:/Users/user/OneDrive/Desktop/PhonePe_Project/pulse/data/aggregated/transaction/country/india/state'
path2_list = os.listdir(path2)

columns_tran = {"States":[], "Years":[], "Quarter":[], "Transaction_type":[], "Transaction_count":[],"Transaction_amount":[] }

for state in path2_list:
    years = os.listdir(f'{path2}/{state}')

    for year in years:
        quarter = os.listdir(f'{path2}/{state}/{year}')

        for qtr in quarter:
            agg_trn_path = f'{path2}/{state}/{year}/{qtr}'

            with open(agg_trn_path,'r') as f:
                data = json.load(f)
                #print(data)

                for i in data['data']['transactionData']:
                    name = i['name']
                    count = i["paymentInstruments"][0]["count"]
                    amount = i["paymentInstruments"][0]["amount"]
                    columns_tran["Transaction_type"].append(name)
                    columns_tran["Transaction_count"].append(count)
                    columns_tran["Transaction_amount"].append(amount)
                    columns_tran["States"].append(state)
                    columns_tran["Years"].append(year)
                    columns_tran["Quarter"].append(int(qtr.strip(".json")))

aggregated_transaction = pd.DataFrame(columns_tran)

aggregated_transaction["States"] = aggregated_transaction["States"].str.replace("andaman-&-nicobar-islands","Andaman & Nicobar")
aggregated_transaction["States"] = aggregated_transaction["States"].str.replace("-"," ")
aggregated_transaction["States"] = aggregated_transaction["States"].str.title()
aggregated_transaction['States'] = aggregated_transaction['States'].str.replace("Dadra & Nagar Haveli & Daman & Diu", "Dadra and Nagar Haveli and Daman and Diu")

In [10]:
#aggregated_user

path3 = 'C:/Users/user/OneDrive/Desktop/PhonePe_Project/pulse/data/aggregated/user/country/india/state'
path3_list = os.listdir(path3)

columns_user= {"States":[], "Years":[], "Quarter":[],"Transaction_count":[],"Brands":[],"Percentage":[]}

for state in path3_list:
    years = os.listdir(f'{path3}/{state}')

    for year in years:
        quarter = os.listdir(f'{path3}/{state}/{year}')

        for qtr in quarter:
            agg_user_path = f'{path3}/{state}/{year}/{qtr}'
            
            with open(agg_user_path,'r') as f:
                data = json.load(f)
                #print(data)

                try:
                    for i in data['data']['usersByDevice']:
                        brand = i['brand']
                        count = i['count']
                        percentage = i['percentage']
                        columns_user["Brands"].append(brand)
                        columns_user["Transaction_count"].append(count)
                        columns_user["Percentage"].append(percentage)
                        columns_user["States"].append(state)
                        columns_user["Years"].append(year)
                        columns_user["Quarter"].append(int(qtr.strip(".json")))
                except:
                    pass
aggregated_user = pd.DataFrame(columns_user)

aggregated_user["States"] = aggregated_user["States"].str.replace("andaman-&-nicobar-islands","Andaman & Nicobar")
aggregated_user["States"] = aggregated_user["States"].str.replace("-"," ")
aggregated_user["States"] = aggregated_user["States"].str.title()
aggregated_user['States'] = aggregated_user['States'].str.replace("Dadra & Nagar Haveli & Daman & Diu", "Dadra and Nagar Haveli and Daman and Diu")

In [ ]:
#map_insurance

path4 = 'C:/Users/user/OneDrive/Desktop/PhonePe_Project/pulse/data/map/insurance/hover/country/india/state'
#path4
path4_list = os.listdir(path4)
path4_list

columns_ins = {'States':[],'Years':[],'Quarter':[],'Districts':[],'Transaction_count':[],'Transaction_amount':[]}

for state in path4_list:
    years = os.listdir(f'{path4}/{state}')

    for year in years:
        quarter = os.listdir(f'{path4}/{state}/{year}')

        for qtr in quarter:
            map_insurance_path = f'{path4}/{state}/{year}/{qtr}'

            with open(map_insurance_path,'r') as f:
                data = json.load(f)
                #print(data)

                for i in data['data']['hoverDataList']:
                    districts = i['name']
                    count = i['metric'][0]['count']
                    amount = i['metric'][0]['amount']
                    columns_ins['Districts'].append(districts)
                    columns_ins['Transaction_count'].append(count)
                    columns_ins['Transaction_amount'].append(amount)
                    columns_ins['States'].append(state)
                    columns_ins['Years'].append(year)
                    columns_ins['Quarter'].append(int(qtr.strip(".json")))

map_insurance = pd.DataFrame(columns_ins)

map_insurance["States"] = map_insurance["States"].str.replace("andaman-&-nicobar-islands","Andaman & Nicobar")
map_insurance["States"] = map_insurance["States"].str.replace("-"," ")
map_insurance["States"] = map_insurance["States"].str.title()
map_insurance["States"] = map_insurance["States"].str.replace("Dadra & Nagar Haveli & Daman & Diu", "Dadra and Nagar Haveli and Daman and Diu")

In [12]:
#map_transaction

path5 = 'C:/Users/user/OneDrive/Desktop/PhonePe_Project/pulse/data/map/transaction/hover/country/india/state'
#path5
path5_list = os.listdir(path5)
#path5_list

columns_trans = {'States':[],'Years':[],'Quarter':[],'Districts':[],'Transaction_count':[],'Transaction_amount':[]}

for state in path5_list:
    years = os.listdir(f'{path5}/{state}')

    for year in years:
        quarter = os.listdir(f'{path5}/{state}/{year}')

        for qtr in quarter:
            map_transaction_path = f'{path5}/{state}/{year}/{qtr}'

            with open (map_transaction_path,'r') as f:
                data = json.load(f)
                #print(data)

                for i in data['data']['hoverDataList']:
                    districts = i['name']
                    count = i['metric'][0]['count']
                    amount = i['metric'][0]['amount']
                    columns_trans['Districts'].append(districts)
                    columns_trans['Transaction_count'].append(count)
                    columns_trans['Transaction_amount'].append(amount)
                    columns_trans['States'].append(state)
                    columns_trans['Years'].append(year)
                    columns_trans['Quarter'].append(int(qtr.strip('.json')))

map_transaction = pd.DataFrame(columns_trans)

map_transaction['States'] = map_transaction['States'].str.replace("andaman-&-nicobar-islands","Andaman & Nicobar")
map_transaction['States'] = map_transaction['States'].str.replace("-"," ")
map_transaction['States'] = map_transaction['States'].str.title()
map_transaction['States'] = map_transaction['States'].str.replace("Dadra & Nagar Haveli & Daman & Diu", "Dadra and Nagar Haveli and Daman and Diu")

In [13]:
#map_user

path6 = 'C:/Users/user/OneDrive/Desktop/PhonePe_Project/pulse/data/map/user/hover/country/india/state'
path6_list = os.listdir(path6)

columns_user = {'States':[],'Years':[],'Quarter':[],'Districts':[],'registered_user':[],'AppOpens':[]}

for state in path6_list:
    years = os.listdir(f'{path6}/{state}')

    for year in years:
        quarter = os.listdir(f'{path6}/{state}/{year}')

        for qtr in quarter:
            map_user_path = f'{path6}/{state}/{year}/{qtr}'

            with open (map_user_path,'r') as f:
                data = json.load(f)
                #print(data)

                for i in data['data']['hoverData'].items():
                    districts = i[0]
                    registeredusers = i[1]['registeredUsers']
                    appopens = i[1]['appOpens']
                    columns_user['States'].append(state)
                    columns_user['Years'].append(year)
                    columns_user['Quarter'].append(int((qtr).strip('.json')))
                    columns_user['Districts'].append(districts)
                    columns_user['registered_user'].append(registeredusers)
                    columns_user['AppOpens'].append(appopens)

map_user = pd.DataFrame(columns_user)

map_user['States'] = map_user['States'].str.replace("andaman-&-nicobar-islands","Andaman & Nicobar")
map_user['States'] = map_user['States'].str.replace("-"," ")
map_user['States'] = map_user['States'].str.title()
map_user['States'] = map_user['States'].str.replace("Dadra & Nagar Haveli & Daman & Diu", "Dadra and Nagar Haveli and Daman and Diu")

In [14]:
#top_insurance

path7 = 'C:/Users/user/OneDrive/Desktop/PhonePe_Project/pulse/data/top/insurance/country/india/state'
path7_list = os.listdir(path7)

columns_ins = {'States':[],'Years':[],'Quarter':[],'Pincodes':[],'Transaction_count':[],'Transaction_amount':[]}

for state in path7_list:
    years = os.listdir(f'{path7}/{state}')

    for year in years:
        quarter = os.listdir(f'{path7}/{state}/{year}')

        for qtr in quarter:
            top_ins_path = f'{path7}/{state}/{year}/{qtr}'

            with open (top_ins_path,'r') as f:
                data = json.load(f)
                #print(data)

                for i in data["data"]["pincodes"]:
                    pincode = i["entityName"]
                    count = i["metric"]["count"]
                    amount = i["metric"]["amount"]
                    columns_ins["Pincodes"].append(pincode)
                    columns_ins["Transaction_count"].append(count)
                    columns_ins["Transaction_amount"].append(amount)
                    columns_ins["States"].append(state)
                    columns_ins["Years"].append(year)
                    columns_ins["Quarter"].append(int(qtr.strip(".json")))

top_insurance = pd.DataFrame(columns_ins)

top_insurance["States"] = top_insurance["States"].str.replace("andaman-&-nicobar-islands","Andaman & Nicobar")
top_insurance["States"] = top_insurance["States"].str.replace("-"," ")
top_insurance["States"] = top_insurance["States"].str.title()
top_insurance['States'] = top_insurance['States'].str.replace("Dadra & Nagar Haveli & Daman & Diu", "Dadra and Nagar Haveli and Daman and Diu")

In [15]:
#top_transaction
path8 = 'C:/Users/user/OneDrive/Desktop/PhonePe_Project/pulse/data/top/transaction/country/india/state'
path8_list = os.listdir(path8)

columns_trans = {'States':[],'Years':[],'Quarter':[],'Pincodes':[],'Transaction_count':[],'Transaction_amount':[]}

for state in path8_list:
    years = os.listdir(f'{path8}/{state}')

    for year in years:
        quarter = os.listdir(f'{path8}/{state}/{year}')

        for qtr in quarter:
            top_transaction_path = f'{path8}/{state}/{year}/{qtr}'

            with open (top_transaction_path,'r') as f:
                data = json.load(f)
                #print(data)

                for i in data["data"]["pincodes"]:
                    pincode = i["entityName"]
                    count = i["metric"]["count"]
                    amount = i["metric"]["amount"]
                    columns_trans["Pincodes"].append(pincode)
                    columns_trans["Transaction_count"].append(count)
                    columns_trans["Transaction_amount"].append(amount)
                    columns_trans["States"].append(state)
                    columns_trans["Years"].append(year)
                    columns_trans["Quarter"].append(int(qtr.strip(".json")))

top_transaction = pd.DataFrame(columns_trans)

top_transaction["States"] = top_transaction["States"].str.replace("andaman-&-nicobar-islands","Andaman & Nicobar")
top_transaction["States"] = top_transaction["States"].str.replace("-"," ")
top_transaction["States"] = top_transaction["States"].str.title()
top_transaction['States'] = top_transaction['States'].str.replace("Dadra & Nagar Haveli & Daman & Diu", "Dadra and Nagar Haveli and Daman and Diu")

In [16]:
#top_user

path9 = 'C:/Users/user/OneDrive/Desktop/PhonePe_Project/pulse/data/top/user/country/india/state'
path9_list = os.listdir(path9)

columns_user =  {"States":[], "Years":[], "Quarter":[], "Pincodes":[], "registered_users":[]}

for state in path9_list:
    years = os.listdir(f'{path9}/{state}')

    for year in years:
        quarter = os.listdir(f'{path9}/{state}/{year}')

        for qtr in quarter:
            top_user_path = f'{path9}/{state}/{year}/{qtr}'

            with open (top_user_path,'r') as f:
                data = json.load(f)
                #print(data)

                for i in data["data"]["pincodes"]:
                   name = i["name"]
                registeredusers = i["registeredUsers"]
                columns_user["Pincodes"].append(name)
                columns_user["registered_users"].append(registeredusers)
                columns_user["States"].append(state)
                columns_user["Years"].append(year)
                columns_user["Quarter"].append(int(qtr.strip(".json")))

top_user = pd.DataFrame(columns_user)

top_user["States"] = top_user["States"].str.replace("andaman-&-nicobar-islands","Andaman & Nicobar")
top_user["States"] = top_user["States"].str.replace("-"," ")
top_user["States"] = top_user["States"].str.title()
top_user['States'] = top_user['States'].str.replace("Dadra & Nagar Haveli & Daman & Diu", "Dadra and Nagar Haveli and Daman and Diu")

In [17]:

mydb = psycopg2.connect(host = "localhost",
                        user = "postgres",
                        password = "mblaze0912",
                        database = "phonepe_insights",
                        port = "5432"
                        )
cursor = mydb.cursor()
mydb.autocommit = True

In [19]:
#table_creation
#aggregated_insurance

create_query1= '''CREATE TABLE if not exists aggregated_insurance 
                    (States varchar(50),
                    Years int,
                    Quarter int,
                    Insurance_type varchar(50),
                    Insurance_count bigint,
                    Insurance_amount bigint
                    )'''  
cursor.execute(create_query1)
mydb.commit()

for index,row in aggregated_insurance.iterrows():
    insert_query1 = '''INSERT INTO aggregated_insurance (States, Years, Quarter, Insurance_type, Insurance_count, Insurance_amount)
                                                        values(%s,%s,%s,%s,%s,%s)'''
    values1 = (row["States"],
              row["Years"],
              row["Quarter"],
              row["Insurance_type"],
              row["Insurance_count"],
              row["Insurance_amount"]
              )
    cursor.execute(insert_query1,values1)
mydb.commit()

#aggregated_transaction

create_query2= '''CREATE TABLE if not exists aggregated_transaction
                    (States varchar(50),
                    Years int,
                    Quarter int,
                    Transaction_type varchar(50),
                    Transaction_count bigint,
                    Transaction_amount bigint
                    )'''
cursor.execute(create_query2)
mydb.commit()

for index,row in aggregated_transaction.iterrows():
    insert_query2 = '''INSERT INTO aggregated_transaction (States, Years, Quarter, Transaction_type, Transaction_count, Transaction_amount)
                                                        values(%s,%s,%s,%s,%s,%s)'''
    values2 = (row["States"],
              row["Years"],
              row["Quarter"],
              row["Transaction_type"],
              row["Transaction_count"],
              row["Transaction_amount"]
              )
    cursor.execute(insert_query2,values2)
mydb.commit()

#aggregated_user

create_query3= '''CREATE TABLE if not exists aggregated_user
                    (States varchar(50),
                    Years int,
                    Quarter int,
                    Brands varchar(50),
                    Transaction_count bigint,
                    Percentage float
                    )'''
cursor.execute(create_query3)
mydb.commit()
 
for index,row in aggregated_user.iterrows():
    insert_query3 = '''INSERT INTO aggregated_user (States, Years, Quarter, Brands, Transaction_count, Percentage)
                                                    values(%s,%s,%s,%s,%s,%s)'''
    values3 = (row["States"],
              row["Years"],
              row["Quarter"],
              row["Brands"],
              row["Transaction_count"],
              row["Percentage"]
              )
    
    cursor.execute(insert_query3,values3)
mydb.commit()

#map_insurance

create_query4= '''CREATE TABLE if not exists map_insurance 
                    (States varchar(50),
                    Years int,
                    Quarter int,
                    Districts varchar(50),
                    Transaction_count bigint,
                    Transaction_amount float
                    )'''
cursor.execute(create_query4)
mydb.commit()
cursor.execute("ALTER TABLE map_insurance ADD COLUMN IF NOT EXISTS Districts VARCHAR(100);")
mydb.commit()

for index,row in map_insurance.iterrows():
            insert_query4 = '''INSERT INTO map_insurance (States, Years, Quarter, Districts, Transaction_count, Transaction_amount)
                                            VALUES (%s, %s, %s, %s, %s, %s)'''
            values4 = (
                row['States'],
                row['Years'],
                row['Quarter'],
                row['Districts'],
                row['Transaction_count'],
                row['Transaction_amount']
                )
            cursor.execute(insert_query4,values4)
mydb.commit()

#map_transactionaction

create_query5= '''CREATE TABLE if not exists map_transaction
                    (States varchar(50),
                    Years int,
                    Quarter int,
                    Districts varchar(50),
                    Transaction_count bigint,
                    Transaction_amount float)'''
cursor.execute(create_query5)
mydb.commit

for index,row in map_transaction.iterrows():
            insert_query5 = '''INSERT INTO map_transaction(States, Years, Quarter, Districts, Transaction_count, Transaction_amount)
                                            VALUES (%s, %s, %s, %s, %s, %s)'''
            values5 = (
                row['States'],
                row['Years'],
                row['Quarter'],
                row['Districts'],
                row['Transaction_count'],
                row['Transaction_amount']
                )
            
            cursor.execute(insert_query5,values5)
mydb.commit()

#map_user

create_query6= '''CREATE TABLE if not exists map_user 
                    (States varchar(50),
                    Years int,
                    Quarter int,
                    Districts varchar(50),
                    AppOpens bigint
                    )'''
cursor.execute(create_query6)
mydb.commit()
cursor.execute("ALTER TABLE map_user ADD COLUMN registered_user INTEGER;")
mydb.commit()

for index,row in map_user.iterrows():
    insert_query6 = '''INSERT INTO map_user (States, Years, Quarter, Districts, registered_user, AppOpens)
                        values(%s,%s,%s,%s,%s,%s)'''
    values6 = (row["States"],
              row["Years"],
              row["Quarter"],
              row["Districts"],
              row["registered_user"],
              row["AppOpens"]
              )
    
    cursor.execute(insert_query6,values6)
    mydb.commit()

#top_insurance

create_query7= '''CREATE TABLE if not exists top_insurance
                    (States varchar(50),
                    Years int,
                    Quarter int,
                    Pincodes int,
                    Transaction_count bigint,
                    Transaction_amount bigint
                    )'''
cursor.execute(create_query7)
mydb.commit()

for index,row in top_insurance.iterrows():
    insert_query7 = '''INSERT INTO top_insurance (States, Years, Quarter, Pincodes, Transaction_count, Transaction_amount)
                                                    values(%s,%s,%s,%s,%s,%s)'''
    values7 = (row["States"],
              row["Years"],
              row["Quarter"],
              row["Pincodes"],
              row["Transaction_count"],
              row["Transaction_amount"]
              )
    cursor.execute(insert_query7,values7)
mydb.commit()

#top_transaction

create_query8= '''CREATE TABLE if not exists top_transaction
                    (States varchar(50),
                    Years int,
                    Quarter int,
                    Pincodes int,
                    Transaction_count bigint,
                    Transaction_amount bigint
                    )'''

cursor.execute(create_query8)
mydb.commit()

for index,row in top_transaction.iterrows():
    insert_query8 = '''INSERT INTO top_transaction (States, Years, Quarter, Pincodes, Transaction_count, Transaction_amount)
                                                    values(%s,%s,%s,%s,%s,%s)'''
    values8 = (row["States"],
              row["Years"],
              row["Quarter"],
              row["Pincodes"],
              row["Transaction_count"],
              row["Transaction_amount"]
              )
    cursor.execute(insert_query8,values8)
mydb.commit()

#top_user

create_query9 = '''CREATE TABLE IF NOT EXISTS top_user (
    states VARCHAR(50),
    years INT,
    quarter INT,
    pincodes TEXT,
    registered_users BIGINT
)'''
cursor.execute(create_query9)
mydb.commit()

for index, row in top_user.iterrows():
    insert_query9 = '''INSERT INTO top_user (states, years, quarter, pincodes, registered_users)
                       VALUES (%s, %s, %s, %s, %s)'''
    values9 = (
        row["States"],              # DataFrame column name
        row["Years"],
        row["Quarter"],
        row["Pincodes"],
        row["registered_users"]
    )
    cursor.execute(insert_query9, values9)

mydb.commit()